.weather-container {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #67533b;

  /* padding: 10px; */
  margin: 10px auto 0;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  line-height: 1;
  margin: 0;
}

.weather {
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
  line-height: 1;
  margin: 0;
}

.weather-image {
  width: 80px;
  margin: 0 10px;
}

.weather-additional {
  padding: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.temperature {
  font-size: 60px;
  font-weight: 600;
}

.additional {
  width: 100%;
  margin: 0 10px;
}

.parameter {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
